<!--
 * @Description: 模板页
 * @Author: WangYunChuan
 * @Email: wangyunchuan3410@163.com
 * @Date: 2019-11-20 14:22:33
 * @LastEditors  : WangYunChuan
 * @LastEditTime : 2020-01-06 10:40:16
 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>{{name}}</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="">
		<meta name="description" content="">
		{{#wxjssdk}}
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
		{{/wxjssdk}}
</head>
<body>
	<div id="app"></div>
</body>
</html>