.sycat-toast-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
}
.sycat-toast-wrapper .sycat-toast-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.sycat-toast-wrapper .sycat-toast-drop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	background: rgba(0,0,0,0.6);
	pointer-events: none;
}
.sycat-toast-wrapper .sycat-toast-inner{
	display: flex;
	align-items: center;
	padding: 22px 38px;
	background: rgba(0,0,0,0.8);
	border-radius: 8px;
	vertical-align: middle;
	z-index: 999;
}
.sycat-toast-wrapper .sycat-toast-inner .sycat-icon{
	display: inline-block;
	margin-right: 12px;
}
.sycat-toast-wrapper .sycat-toast-inner .sycat-prompt-text{
	color: white;
	font-size: 30px;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
	animation-name: zoomOut;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.toast-loading{
	.loading{
			width:40px;
			height:40px;
			position:relative;
	}
	.bounce{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border-radius: 50%;
			background-color: #efefef;
			opacity: 0.6;
			-webkit-animation: bounce 2.0s infinite ease-in-out;
			animation: bounce 2.0s infinite ease-in-out;
	}
	.bounce2{
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
	}
	@keyframes bounce{
			0%{transform:scale(0.0);}
			50%{transform:scale(1.0);}
			100%{transform:scale(0.0);}
	}
	@-webkit-keyframes  bounce{
			0%{transform:scale(0.0);}
			50%{transform:scale(1.0);}
			100%{transform:scale(0.0);}
	}
}
